button {
	margin-right: 1em;
}
body {
	padding: 0;
	margin: 0;
	background: #EEEEEE;
}

/*--- navigation bar ---*/
.header {
	background-image: url("./images/header-background.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
}
.navbar {
	background:#337cb8;
	box-shadow: 0 0px 10px 1px black;
}

.nav-link,
.navbar-brand {
	margin-left: 50px;
	font-size: 40px;
	font-weight: 800;
	color: #fff;
	cursor: default;
}
.navbar-brand:hover {
	color: #0056b3;
}

.nav-link {
	margin-right: 1em !important;
}

.nav-link:hover {
	color: #000;
}

.navbar-collapse {
	justify-content: flex-end;
}

.spacer {
	height: 39px;
}

.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
}

.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}

.description h1 {
	color: #6ab446;
}

.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}
.description button {
	border: 1px solid #6ab446;
	background: #6ab446;
	border-radius: 0;
	color: #fff;
}
.description button:hover {
	border: 1px solid #fff;
	background: #fff;
	color: #000;
}

.container {
	max-width: 1800px;
} 
.col-xl-4 input{
	width: 100%;
}

.margin-bottom{
	margin-bottom: 20px;;
}

.text-right{
	text-align: right;
}
/* Remove Arrows for Input Fields*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* TABLE */
#pointList > tr {
	cursor: pointer;
}
.selectedElement {
	background: #b6bec5;
	transition: all .15s;
}
/* On/Off BUTTON */
.toggle {
	margin-left: 15px;
}

.toggle-off.btn {
	background-color: #b6bec5;
}
.toggle-group > label{
	cursor: pointer;
}
/* SLIDER */
#myRange {
	cursor: pointer;
	width: 100%;
}
/* Edit Fields */
.input-group-prepend {
	cursor: default;
}
/* LEGEND */
#legend {
	cursor: default;
}